{% extends "base.html" %}
{% block title %}
  Our Groomers
{% endblock %}
{% block subtitle %}
	Caring hands, gentle approach, and years of experience with pets of all sizes.
{% endblock %}
{% block content %}

<!-- HEADER ROW -->
<div class="d-flex justify-content-between align-items-center mb-4">

</div>
{% if groomers %}
  	<table class="table text-center align-middle">
      <tr>
        <th>Full name</th>
        <th>Qualifications</th>
        <th>With us since</th>
      </tr>
    {% for groomer in groomers %}
    	<tr>
        <td>
          <a href="{% url 'store:groomer-detail' groomer.pk %}">
            {{ groomer.first_name }} {{ groomer.last_name }}
          </a>
        </td>
        <td>
          {% for q in groomer.qualifications.all|dictsort:"name" %}
            {{ q.name }}<br>
          {% empty %}
            No qualifications
          {% endfor %}
        </td>
        <td>{{ groomer.created_at|date:"F Y" }}</td>
      </tr>
    {% endfor %}
    </table>
    {% else %}
    <p>Unfortunately currently we don't have any groomers</p>
  {% endif %}
	<div class="d-flex justify-content-between align-items-center mb-3">
		{% include "includes/pagination.html" %}
		<a href="{% url 'store:groomer-create' %}"
		   class="btn bg-gradient-primary rounded-circle d-flex align-items-center justify-content-center btn-add">
		  +
		</a>
	</div>
{% endblock %}
