{% extends "base.html" %}

{% block content %}
	<h1>OUR GROOMERS</h1>
  {% if groomer_list %}
  	<table class="table">
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Qualifications</th>
        <th>work with us since</th>
      </tr>
    {% for groomer in groomer_list %}
    	<tr>
        <td>{{ groomer.id }}</td>
        <td>
{#          <a href="{{ groomer.get_absolut_url }}">#}
            {{ groomer.first_name }}
{#          </a>#}
        </td>
        <td>{{ groomer.last_name }}</td>
        <td>{{ groomer.qualification }}</td>
        <td>{{ groomer.created_at }}</td>
      </tr>
    {% endfor %}
    </table>
    {% else %}
    <p>Unfortunately currently we don't have any groomers</p>
  {% endif %}
{% endblock %}
