{% extends "base.html" %}

{% block content %}
	<h1>OUR GROOMERS</h1>
  {% if groomers %}
  	<table class="table">
      <tr>
        <th>ID</th>
        <th>Full name</th>
        <th>Qualifications</th>
        <th>work with us since</th>
      </tr>
    {% for groomer in groomers %}
    	<tr>
        <td>{{ groomer.id }}</td>
        <td>
          <a href="{{ groomer.get_absolut_url }}">
            {{ groomer.first_name }} {{ groomer.last_name }}
          </a>
        </td>
        <td>
          {% for q in groomer.qualifications.all %}
            {{ q.name }}<br>
          {% empty %}
            No qualifications
          {% endfor %}
        </td>
        <td>{{ groomer.created_at|date:"F Y" }}</td>
      </tr>
    {% endfor %}
    </table>
    {% else %}
    <p>Unfortunately currently we don't have any groomers</p>
  {% endif %}
{% endblock %}
