{% extends "base.html" %}

{% block content %}
	<div class="d-flex justify-content-between align-items-center mb-3">

    <h2 class="mb-0">
      Our Lovely Customers
    </h2>

    <a href="{% url 'store:pet-create' %}" class="btn btn-primary">
      + Create
    </a>

  </div>
  {% if pets %}
  	<table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Breed</th>
        <th>Last Service</th>
      </tr>
    {% for pet in pets %}
    	<tr>
        <td>{{ pet.id }}</td>
        <td>
          <a href="{% url 'store:pet-detail' pet.pk %}">
            {{ pet.name }}
          </a>
        </td>
        <td>{{ pet.breed }}</td>
        <td>{{ pet.last_service.service.name|default:"No services yet" }}</td>
      </tr>
    {% endfor %}
    </table>
  {% else %}
    <p>Waiting for our first customer</p>
  {% endif %}
{% endblock %}
