{% extends "base.html" %}
{% block title %}
  Our Services
{% endblock %}
{% block subtitle %}

{% endblock %}
{% block content %}

<!-- HEADER ROW -->
<div class="d-flex justify-content-between align-items-center mb-4">

</div>
{% if services %}
  	<table class="table text-center align-middle">
      <tr>
	      <th>#</th>
        <th>Service</th>
        <th>Service Type</th>
        <th>Service Description</th>
      </tr>
    {% for service in services %}
    	<tr>
        <td>{{ forloop.counter }}</td>
        <td>
          <a href="{% url 'store:service-detail' service.pk %}">
            {{ service.name }}
          </a>
        </td>
        <td>{{ service.service_type }}</td>
        <td>{{ service.description }}</td>
      </tr>
    {% endfor %}
    </table>
    {% else %}
    <p>Unfortunately currently we don't offer any services</p>
  {% endif %}
	<div class="d-flex justify-content-between align-items-center mb-3">
		{% include "includes/pagination.html" %}
		<a href="{% url 'store:service-create' %}"
		   class="btn bg-gradient-primary rounded-circle d-flex align-items-center justify-content-center btn-add">
		  +
		</a>
	</div>
{% endblock %}
