{% extends "base.html" %}

{% block content %}
	<h1>OUR SERVICES</h1>
  {% if services %}
  	<table class="table">
      <tr>
        <th>#</th>
        <th>Service</th>
        <th>Service Type</th>
        <th>Service Description</th>
      </tr>
    {% for service in services %}
    	<tr>
        <td>{{ forloop.counter }}</td>
        <td>
          <a href="{% url 'store:service-detail' service.pk %}">
            {{ service.name }}
          </a>
        </td>
        <td>{{ service.service_type }}</td>
        <td>{{ service.description }}</td>
      </tr>
    {% endfor %}
    </table>
    {% else %}
    <p>Unfortunately currently we don't offer any services</p>
  {% endif %}
{% endblock %}
